//- Defines the index page for the site. Root level intro page
extends ../layout.pug

block includes
	//Select2 for PO Box search
	link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css",rel="stylesheet")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js")

	script(src="/js/compose.js")
	link(href='/css/compose.css',rel='stylesheet')

block content
	.box_container
		#compose_header.fullWidth_box.text_box_left
			.box_row
				h1 Write
		#phone_warning
				p Letters too small to read? Try turning your phone sideways!
		#template_composer.fullWidth_box.text_box_middle
			#render_area.box_row
				#template_render !{rendered_template}
		#compose_header.fullWidth_box.text_box_left
			.box_row
				h1 Recipient
				p Enter the PO Box number of the person you want to mail. You can also search by first name.
				select#recipient_search(name='recipient_search')
		#select_template_action.fullWidth_box.action_box
			.box_row
				a(href='#')
					#select_template.action_icon
						.glyphicon.glyphicon-send
						p Send