//- Defines the index page for the site. Root level intro page
extends ../layout.pug

block includes
	link(href='/css/compose.css',rel='stylesheet')

block content
	.box_container
		#compose_header.fullWidth_box.text_box_left
			.box_row
				h1 Write
		#template_composer.fullWidth_box.text_box_middle
			.box_row