//- Defines the index page for the site. Root level intro page
extends ../layout.pug

block includes
	link(href='/css/inbox.css',rel='stylesheet')

block content
	.box_container
		#inbox_header.fullWidth_box.text_box_left
			.box_row
				h1 #{user.first_name}, here are your messages.
				h2 #{time_until_delivery} until new mail is delivered.
	#message_list.fullWidth_box.text_box_left
		.box_row
			.messages_group
				if messages && messages.length > 0
					ul
						each message, i in messages
							li
								a(href='/poboxes/message/' + message.id)
									div
										div.message_header(style="background-image:url('http://placehold.it/300x300');")
										h1 Sent from #00000
										h2='On ' + moment(message.createdAt).format('MMMM Do, YYYY') + ' at ' + moment(message.createdAt).format('H:mm A')
						- val=0
						- max_boxes = 10
						while val< (max_boxes-(messages.length % max_boxes))
							- val++
							li.message_object
								div
				else
					#no_messages
						h1 You don't have any messages yet
						h2 Try sending somebody a message instead!
	.box_container
		#new_message_banner.fullWidth_box.action_box
			.box_row
				a(href='/poboxes/template_list')
					.action_icon
						.glyphicon.glyphicon-plus
						p Send mail