//- Defines the index page for the site. Root level intro page
extends ./layout.pug

block includes
	link(href='/css/index.css',rel='stylesheet')

block content
	.box_container
		#pobox_banner.fullWidth_box.image_box
			.box_row
				h2 Reimagining snail mail
				h1 Redefining communication
		//- Informational icon row
		#info_icons.row
			//- 
			.col-md-4
				span.glyphicon.glyphicon-inbox
				h3 Virtual PO Box
				p eSnail gives you a personal 5-digit PO Box number that's easy to remember, and protects your personal information.
			//- 
			.col-md-4
				span.glyphicon.glyphicon-time
				h3 Scheduled Message Delivery
				p Each PO Box has a scheduled, daily delievery time. You'll know exactly when friends will recieve your messages.
			.col-md-4
				span.glyphicon.glyphicon-edit
				h3 Fun Templates
				p Have fun with your messages! eSnail has tons of beautifully designed, customizable message templates for every occasion.
		#about_us.fullWidth_box.text_box_left
			.box_row
				h2 Stop Texting and Start Communicating.
				h1 Signup for Your Free eSnail Account!
				.row
					
