//- Main header for the site

link(href='/css/headers.css',rel='stylesheet')

.box_container
		#header.fullWidth_box.main_header
			#logo
				a(href='/')
					h1 eSn@il
			#logout_bar.col-sm-6
				ul#menu.hidden-xs
					li#active_item 
						a(href='/') Home
					if user
						li 
							a(href='/poboxes/inbox') Inbox
					li 
						a(href='/faq') FAQs
					li 
						a(href='contact') Contact
					if user
						li 
							a(href='/poboxes/logout') Logout
					else
						li 
							a(href='/poboxes/login') Login
				#hamburger_icon.glyphicon.glyphicon-menu-hamburger.hidden-sm.hidden-md.hidden-lg
#hamburger_menu
	ul
		li
			h3
				a(href='/') Home
		li
			h3
				a(href='/poboxes/inbox') Inbox
		li
			h3
				a(href='/faq') FAQs
		li
			h3
				a(href='contact') Contact
		li
			if user
				h3
					a(href='/poboxes/login') Login
			else
				h3
					a(href='/poboxes/login') Login