//- Defines the index page for the site. Root level intro page
extends ../layout.pug

block includes


block content
	.box_container
		#beta_confirmation.fullWidth_box.image_box(data-parallax="scroll",data-image-src="/img/post_beta_banner.jpg")
			.box_row
				h1 You're All Set!
				h3 Thanks for Your Interest in eSnail, We'll Be in Touch