//Global template includes
block global_template_includes
	//- Master JS and CSS
	script(src="/js/templates/template_master.js")
	link(href="/css/templates/template_master.css",rel='stylesheet')
//Template specific includes
block template_includes

#template_wrapper
	//- Inform JavaScript what mode we are in
	script.
		template_mode="#{template_mode}"
		render_content = {}
	if message_content
		each line, i in message_content
			script.
				render_content["#{line.line_key}"] = "#{line.line_content}"
	//The rendered content that displays when message has been recieved
	block template_content_rendered