//Global template includes
block global_template_includes
	//- Master JS and CSS
	script(src="/js/templates/template_master.js")
	link(href="/css/templates/template_master.css",rel='stylesheet')
//Template specific includes
block template_includes

#template_wrapper
	//The rendered content that displays when message has been recieved
	block template_content_rendered
	//The edit form that displays when the template is being composed
	block template_content_edit