//- Main footer for the site

link(href='/css/footers.css',rel='stylesheet')

.box_container
		#footer.fullWidth_box.main_footer
			.container
				.row
					.col-sm-3
						h1 Home
						ul
							li
								a(href='') About
							li
								a(href='') FAQs
							li
								a(href='') Press
					.col-sm-3
						h1 Account
						ul
							li
								a(href='') Inbox
							li
								a(href='') Compose
							li
								a(href='') Profile
							li
								a(href='') Logout
					.col-sm-3
						h1 Help
						ul
							li
								a(href='') Contact
							li
								a(href='') Terms of use
							li
								a(href='') Privacy policy
					.col-sm-3
						ul
							li
								#logo
									h1
										a(href='/') eSn@il
							li By Dori Solutions