#template_composer
{
	background-color: white;
}

#render_area
{
	width: 100%;
}

#recipient_search
{
	width: 100%;
	padding: 10px;
	border-radius: 15px;
	border-style: solid;
	border-color: #53545B;
	color:#53545B;
	font-size: 2em;
	text-align: center;
}