/* Style the list holding the available templates */
#template_list
{
	background-color: white;
	color: #F38630;
}

#template_list ul
{
	padding: 0px;
	margin: 0px;
}

#template_list li
{
	list-style: none;

	display: inline-block;

	width: 300px;

	margin: 0 10px 0 10px;
}

#template_list:first-child
{
	margin: 0 10px 0 0;
}

#template_list:last-child
{
	margin: 0 0 0 10px;
}

#template_list h1
{
	font-size: 2em;
}

#template_list h2
{
	font-size: 1.3em;
	color:#53545B;
}

#template_list p 
{
	font-size: 1.5em;
	color: black;

	padding: 0px;
	margin: 1em 0 0 0;
}
