.container
{
	position: relative;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.fullWidth_box
{
	width: 100%;
	position: relative;
	height: auto;
	
	/*Creates the hero image style for background images*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/*Sets the div up as a flex box for justifying content*/
	display: flex;
	flex-direction: column;

	/*Padding options*/
	padding: 1em .5em 1em .5em;
}

.fullWidth_box h1
{
	font-size: 3em;
	font-weight: bolder;

	margin: 0;
}

.fullWidth_box h2
{
	font-size: 3em;
	font-weight: normal;

	margin: 0;
}

.fullWidth_box p
{
	font-size: 1.5em;
	font-weight: lighter;
}

.fullWidth_box > .box_row
{
	font-family: "Montserrat","Helvetica Neue",Helvetica,sans-serif;
}

#pobox_banner 
{
	/*Center the content in the flexbox*/
	justify-content: center;
	align-items: center;
	text-align: center;

	/*Font options*/
	line-height: 1.5;

	/*Colors*/
	color: #69D2E7;

	background-image: url('http://placehold.it/1920x450');
	height: 25em;
}

#about_us 
{
	/*Left justify the content*/
	justify-content: left;
	align-items: left;
	text-align: left;

	/*Colors*/
	background-color: #F38630;
	color: white;

	/*Padding*/
	padding: 3em 4em 3em 4em;
}

#about_us p
{
	margin: 1.5em 0;
}

#about_us > #promo_image
{
	width: 100%;

	text-align: center;
}