body
{
	margin: 0px;
	padding:0px;
}

.box_container
{
	position: relative;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.fullWidth_box
{
	width: 100%;
	position: relative;
	height: auto;
	
	/*Creates the hero image style for background images*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/*Sets the div up as a flex box for justifying content*/
	display: flex;
	flex-direction: column;

	/*Padding options*/
	padding: 1em .5em 1em .5em;
}

.fullWidth_box h1
{
	font-size: 3em;
	font-weight: bolder;

	margin: 0;
}

.fullWidth_box h2
{
	font-size: 3em;
	font-weight: normal;

	margin: 0;
}

.fullWidth_box h3
{
	margin: .2em 0 0 0;
	padding: 0;
}

.fullWidth_box p
{
	font-size: 1.5em;
	font-weight: lighter;
}

.fullWidth_box > .box_row
{
	font-family: "Montserrat","Helvetica Neue",Helvetica,sans-serif;
}

/* Used for displaying a background image banner */
.image_box 
{
	/*Center the content in the flexbox*/
	justify-content: center;
	align-items: center;
	text-align: center;

	/*Font options*/
	line-height: 1.5;

	/*Colors*/
	color: #69D2E7;

	height: 25em;
}

/* Used as a action bar with center aligned icons */
.action_box 
{
	/*Center the content in the flexbox*/
	justify-content: center;
	align-items: center;
	text-align: center;

	/*Colors*/
	color: #6E7271;
	background-color: #E8E8E8;

	/*Padding*/
	padding: .2em .3em .4em .3em;

	/*Font options*/
	font-size: 2.3em;
}

.action_icon:hover
{
	color: #F38630;
}

.action_icon > p
{
	font-size: .5em;
	padding: 0px;
	margin: 0px;
	line-height: .5em;
}


/* Information text box bar with text left aligned */
.text_box_left 
{
	/*Left justify the content*/
	justify-content: left;
	align-items: left;
	text-align: left;

	/*Colors*/
	background-color: #F38630;
	color: white;

	/*Padding*/
	padding: 40px 60px 40px 60px;
}

/* Information text box bar with text middle aligned */
.text_box_middle
{
	/*Left justify the content*/
	justify-content: center;
	align-items: center;
	text-align: center;

	/*Colors*/
	background-color: #F38630;
	color: white;

	/*Padding*/
	padding: 40px 60px 40px 60px;
}

.text_box_left p
{
	margin: 1.5em 0;
}

.container
{
	margin: 0px;
	padding: 0px;
}

#phone_warning
{
	display: none;
	color: black;
	font-size: 16px;
	font-weight: lighter;
	padding: 10px 5px;

	background-color: #E8E8E8;
}

@media only screen and (max-width: 767px) {
	#phone_warning
	{
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	#phone_warning
	{
		display: none;
	}
}


@media only screen and (max-width: 767px) and (orientation: portrait) {
	#phone_warning
	{
		display: block;
	}
}
