#registration_confirmation
{
	color: white;
}

#registration_confirmation h1
{
	font-size: 6em;
}

#continue_inbox
{
	background-color: #F38630;

}

#continue_inbox > .box_row > a
{
	color: white;
}

#continue_inbox > .box_row > a> span
{
	font-size: 6em;
	padding-bottom: .3em;
}

#continue_inbox > .box_row > a:hover
{
	text-decoration: none;
	color: #53545B;
}

#delivery_time
{
	background-color: white;
	color: #F38630;
}

#delivery_time > .box_row > a
{
	color: white;
}

#delivery_time > .box_row > span
{
	font-size: 6em;
	padding-bottom: .3em;
}
